#sharePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 20px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.share {
    padding: 0.75rem;
    width: 10rem;
}

.share__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share__item {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share__item:last-child {
    margin-right: 0;
}

.share__link {
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.share__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}